<div class="container">

    <mat-card class="about-me-card">
        <mat-card-title class="card-title">ABOUT ME</mat-card-title>
        <mat-card-subtitle class="card-title">(In about 500 words)</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <h4 style="text-align: start; padding-top: 2em;">INTRO</h4>
            <p style="line-height: 1.5; font-size: 15px;">
                I am an Application Developer at <u style='cursor: pointer;' (click)='goToIBM()'>IBM</u> were I work as a consultant developing applications 
                across different industries. My primary job functions are full stack developer and data science. 
                I am available to consult on intresting projects. I enjoy building web applications and mobile applications and will be available for pro-bono work 
                depending on the time commitment and the project. If you would like to arrange a meeting, I am based in 
                Baton Rouge, but willing to travel to U.S based locations.  
            </p>
            <h4 style="text-align: start;">CURRENTLY</h4>
            <p style="line-height: 1.5; font-size: 15px;">
                At IBM, I have learned how to work accross diverse teams accross multiple levels of leadership, build relationships 
                with clients, work with agile software development teams, serve as Full Stack Developer for IBM internal project, 
                build data pipelines, Test Driven Development, and database managment. 
                <br>
                <br>
                Some things I enjoy doing will not coding: 
            </p>
            <h4 style="text-align: start;">I LIKE</h4>
            <ul>
                <li>
                    Soccer ⚽
                </li>
                <li class="li-style">
                    Traveling ✈️
                </li>
                <li class="li-style">
                    Exploring New Music 🎧
                </li>
                <li class="li-style">
                    Chess ♟️
                </li>
                <li class="li-style">
                    Videogames 🎮
                </li>
                <li class="li-style">
                    YouTube Learning 📖
                </li>
                <li class="li-style">
                    Watching Sports 📺
                </li>
                <li class="li-style">
                    Fishing 🎣
                </li>
            </ul>
            <h4 style="text-align: start; margin-top: 2em;">TRAVEL / GEOGRAPHY</h4>
            <ul>
                <li>
                    I am originally from Honduras. I grew up here
                     and moved to the USA when i was 16. Have sinced lived in Baton Rouge. 
                </li>
                <li class='li-style'>
                    I've been to ~5 countries, and I am looking forward to visit more
                </li>
                <li class='li-style'>
                    In 2010, I visited Canada, Hong Kong, China, Macau
                </li>
                <li class='li-style'>
                    In 2015, I went back to Honduras to visit my mom
                </li>
            </ul>
            <h4 style="text-align: start;">I DREAM OF</h4>
            <ul>
                <li>
                    Empowering others to be the best version of themselves
                </li>
                <li  class='li-style'>
                    Continously improving myself 
                </li>
                <li  class='li-style'>
                    Finishing a marathon
                </li>
                <li  class='li-style'>
                    Meet Elon Musk
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>